@use"../../foundation/variable" as*;

.c-pagination {
  .wp-pagenavi {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;

    @media (max-width: 767px) {
    column-gap: 0.5rem;
    }

    a,
    span {
      padding: 0;
      margin: 0;
    }

    .current,
    a {
        width: 5rem;
        height: 5rem;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        font-weight: bold;
        border: solid 1px $color-black;
        display: grid;
        place-content: center;
        transition: background-color 0.4s ease, color 0.4s ease;

        @media (max-width: 767px) {
            width: 4.4rem;
            height: 4.4rem;
            font-size: 1.6rem;
            line-height: calc(28 / 16);
        }
        &:hover {
            background-color: $color-black;
            color: $color-white;
        }
    }
    .current {
        background-color: $color-black;
        color: $color-white;
    }
    
    .extend {
        display: grid;
        place-content: center;
        padding: 0 1rem;
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        font-weight: bold;
        border: none; 

        @media (max-width: 767px) {
            font-size: 1.6rem;
            line-height: calc(28 / 16);
            padding: 0 0.7rem;
            
        }
    }  
  }
}

