@use"../../../foundation/variable" as*;

.p-result-detail {
    padding-top: 7rem;
    padding-bottom: 15.7rem;
}
.p-result-detail__header {
    display: flex;
    flex-direction: column;
}
.p-result-detail__img-wrapper {
    position: relative;
    order: -1;
    width: 100%;
}
.p-result-detail__img-wrapper img {
    aspect-ratio: 880 / 400;
    object-fit: cover;
    object-position: center top;

    @media (max-width: 767px) {
        aspect-ratio: 335 / 236;
    }
}

.p-result-detail__category {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    line-height: calc(25 / 15);
    font-weight: bold;
    background-color: $main-color;
    color: $color-white;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.p-result-detail__title {
    margin-top: 5rem;
    font-size: 2.5rem;
    line-height: calc(40 / 25);
    font-weight: bold;
}
.p-result-detail__date {
    font-size: 1.7rem;
    line-height: calc(30 / 17);
    margin-top: 1.5rem;
}
.p-result-detail__profile {
    margin-top: 5.7rem;
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 4rem;
    align-items: start;
}
.p-result-detail__table {
    border-collapse: collapse;
    width: auto;
}
.p-result-detail__table th,
.p-result-detail__table td {
    border: 0.5px solid #707070;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    vertical-align: middle;
    height: 3.8rem;
    padding: 0.4rem 2rem;
}
.p-result-detail__table th {
    background-color: #e5e5e5;
    width: 14rem;
    font-weight: bold;
}
.p-result-detail__table td {
    width: 26rem;
}
.p-result-detail__text {
    font-size: 1.8rem;
    line-height: calc(30 / 18);
}
// ページネーション

.p-result-detail .c-single-pagination {
    margin-top: 5.8rem;
    @media (max-width: 767px) {
        margin-top: 4rem;
        
    }
}
.p-result-detail .c-single-pagination__list {
    gap: 19.9rem;

    @media (max-width: 767px) {
        gap: 2.2rem;    
    }
}
.p-result-detail .c-single-pagination__item {
    width: calc((100% - 19.9rem) / 2);
    flex-shrink: 0;

    @media (max-width: 767px) {
        width: calc((100% - 2.2rem) / 2);        
    }
}

// 関連記事

.p-result-detail .c-related-posts {
    margin-top: 10rem;

    @media (max-width: 767px) {
        margin-top: 6.1rem;
        
    }
}

.p-result-detail .c-related-posts__thumb {
    width: 26rem;

    img {
        aspect-ratio: 260 / 183;

        @media (max-width: 767px) {
            aspect-ratio: 160 / 113;       
        }
    
    }
}
.p-result-detail .c-related-posts__category {
    width: 10rem;

    @media (max-width: 767px) {
        width: 8rem;       
    }
}





@media (max-width: 767px) {
    .p-result-detail {
        padding-top: 5.3rem;
        padding-bottom: 19.7rem;
    }
    .p-result-detail__title {
        margin-top: 3rem;
        font-size: 2rem;
        line-height: calc(30 / 20);
        font-weight: bold;
    }
    .p-result-detail__date {
        margin-top: 0.6rem;
    }
    .p-result-detail__profile {
        margin-top: 2rem;
        grid-template-columns: 1fr;
        gap: 2.8rem;
    }
    .p-result-detail__table th,
    .p-result-detail__table td {
        padding: 0.4rem 1rem;
    } 

    
}
