@use"../../../foundation/variable" as*;

.p-contact {
    padding-top: 6.7rem;
    padding-bottom: 10rem;

    @media (max-width: 767px) {
        padding-top: 5rem;
        padding-bottom: 10.8rem;
        
    }
}
.p-contact__text{
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    text-align: center;

    @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        text-align: start;
    }
}

.snow-monkey-form {
    margin-inline: auto;
}

.smf-form {
    display: grid;
    gap: 3rem;
    margin-top: 6.5rem;

    @media (max-width: 767px) {
        margin-top: 3.5rem;
        gap: 1.4rem;
    }
}
.smf-item {
    display: grid;
    grid-template-columns: 14rem 1fr;
    gap: 2.9rem;
    align-items: start;

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 0rem;
    }
}
.smf-item__col--label {
    font-size: 2rem;
    line-height: calc(33 / 20);

    @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(33 / 16);        
    }
}
.smf-item__col--controls {
    width: 100%;
}
.smf-form .smf-text-control__control,
.smf-form  .smf-textarea-control__control {
    width: 100%;
    border:  0.5px solid $color-black;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    border-radius: 0;
    box-shadow: none;
    outline: none;

    @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(33 / 16);        
    }

    &::placeholder {
        color: #b2b2b2;
        font-size: 1.5rem;
        line-height: calc(33 / 15); 
    }
}
.smf-form .smf-text-control__control {
    height: 4rem;
    padding: 0.35rem 2rem;
}
.smf-form .smf-textarea-control__control {
    height: 30rem;
    padding: 1.3rem 2rem;
    resize: none;
    word-break: break-word;

    @media (max-width: 767px) {
        height: 19rem;
        padding: 1.2rem 2rem;
        
    }

    &::placeholder {
        color: #b2b2b2;
        font-size: 1.5rem;
        line-height: calc(33 / 15);
        
        @media (max-width: 767px) {
            line-height: calc(25 / 15);           
        }
    }

}
.smf-form .smf-checkboxes-control__control {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @media (max-width:767px) {
        gap: 1rem;     
    }
  }
.smf-form .smf-checkbox-control {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: calc(30 / 18);
    gap: 0;

    @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: calc(30 / 16);       
    }
}
.smf-checkbox-control__label {
    padding-left: 2rem;

    @media (max-width: 767px) {
        padding-left: 1rem;
        
    }
}
.smf-form .smf-checkbox-control__control {
   width: 2rem;
   height: 2rem;
   margin: 0;
   border: 0.5px solid $color-black;
   box-shadow: none;
   border-radius: 0;
}
.smf-button-control {
   display: flex;
   justify-content: center;
   margin-top: 5rem;
}

.smf-action .smf-button-control__control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: $main-color;
    background-image: none;
    color: $color-white;
    border: solid 1px $main-color;
    transition: background-color 0.4s ease, color 0.4s ease;
    cursor: pointer;
    height: 5rem;
    width: 25rem;
    font-size: 2.5rem;
    line-height: calc(33 / 25);
    border-radius: 0;

    @media (max-width: 767px) {
        width: 100%;
        font-size: 2rem;
        line-height: calc(26 / 20);   
    }
    &:hover {
        background-color: $color-white;
        color: $main-color;
    }
}




// .p-contact-form {
//     margin-inline: auto;
// }
// .p-contact__text {
//     font-size: 1.8rem;
//     line-height: calc(30 / 18);
//     text-align: center;
// }
// .p-contact-form__list {
//     margin-top: 6.5rem;
//     display: grid;
//     gap: 3rem;
// }
// .p-contact-form__row {
//     display: grid;
//     grid-template-columns: 14rem 1fr;
//     gap: 2.9rem;
//     align-items: start;
// }
// .p-contact-form__row--end {
//     align-items: end;
// }
// .p-contact-form__term {
//     font-size: 2rem;
//     line-height: calc(33 / 20);
// }
// .p-contact-form__term--lineheight-s {
//     line-height: calc(30 / 20);
// }
// .p-contact-form__desc {
//     width: 100%;
// }
// .p-contact-form__input {
//     width: 100%;
//     height: 4rem;
//     padding: 0.35rem 2rem;
//     border: 0.5px solid $color-black;
//     font-size: 1.8rem;
//     line-height: calc(30 / 18);
// }
// .p-contact-form__input::placeholder {
//     color: #b2b2b2;
//     font-size: 1.5rem;
//     line-height: calc(33 / 15);
// }
// .p-contact-form__textarea {
//     width: 100%;
//     height: 30rem;
//     padding: 1.3rem 2rem;
//     font-size: 1.8rem;
//     line-height: calc(30 / 18);
//     border: 0.5px solid $color-black;
//     resize: none;
//     word-break: break-word;
// }
// .p-contact-form__textarea::placeholder {
//     color: #b2b2b2;
//     font-size: 1.5rem;
//     line-height: calc(33 / 15);
// }
// .p-contact-form__checkbox {
//     display: flex;
//     flex-direction: column;
//     gap: 0.8rem;
// }
// .p-contact-form__check {
//     display: inline-flex;
//     align-items: flex-start;
//     cursor: pointer;
//     font-size: 1.8rem;
//     line-height: calc(30 / 18);
// }
// .p-contact-form__check span {
//     position: relative;
//     padding-left: 4rem;
// }
// .p-contact-form__check span::before {
//     content:"";
//     position: absolute;
//     left: 0;
//     top: 0.3rem;
//     width: 2rem;
//     height: 2rem;
//     border: 0.5px solid $color-black;
// }
// .p-contact-form__check span::after {
//     content: "";
//     position: absolute;
//     left: 0.5rem;
//     top: 0.8rem;
//     width: 0.9rem;
//     height: 0.5rem;
//     border-left: 0.5px solid $color-black;
//     border-bottom: 0.5px solid $color-black;
//     transform: rotate(-45deg);
//     opacity: 0;
// }
// .p-contact-form__check input[type="checkbox"]:checked + span::after {
//     opacity: 1;
// }

// .p-contact-form__btn {
//     margin-top: 4.5rem;
//     display: flex;
//     justify-content: center;
// }
// .c-btn {
//     font-size: 2.5rem;
//     line-height: calc(33 / 25);
// }

// @media (max-width: 767px) {
//     .p-contact {
//         padding-top: 5rem;
//         padding-bottom: 10.8rem;
//     }
//     .p-contact-form__text {
//         font-size: 1.6rem;
//         line-height: calc(30 / 16);
//         text-align: start;
//     }
//     .p-contact-form__list {
//         margin-top: 3.5rem;
//         display: grid;
//         gap: 1.4rem;
//     }
//     .p-contact-form__row {
//         grid-template-columns: 1fr;
//         gap: 0rem;
//         align-items: start;
//     }
//     .p-contact-form__row:last-child {
//         margin-top: -0.7rem;
//     }
//     .p-contact-form__term__note {
//         padding-left: 1.6rem;
//     }
//     .p-contact-form__term {
//         font-size: 1.6rem;
//         line-height: calc(33 / 16);
//     }
//     .p-contact-form__term--lineheight-s {
//         line-height: calc(33 / 16);
//     }
    
//     .p-contact-form__input {
//         font-size: 1.6rem;
//         line-height: calc(33 / 16);
//     }
//     .p-contact-form__textarea {
//         padding: 1.2rem 2rem;
//         font-size: 1.6rem;
//         line-height: calc(30 / 16);
//     }
//     .p-contact-form__checkbox {
//         gap: 1rem;
//     }

//     .p-contact-form__check {
//         font-size: 1.6rem;
//         line-height: calc(30 / 16);
//     }
//     .p-contact-form__check span {
//         padding-left: 3rem;
//     }
//     .p-contact-form__textarea {
//         height: 19rem;
//     }
//     .p-contact-form__textarea::placeholder {
//         font-size: 1.5rem;
//         line-height: calc(25 / 15);
//     }
//     .p-contact-form__btn {
//         margin-top: 4.5rem;
//     }
    
// 